<div class="page-width">
  <div>
    <div>
      <div>Bundles</div>
      <div class="tab-links-wrapper">
        <div class="tab-links-wrapper-inner">
          <div class="tab-link" data-for="">a</div>
          <div class="tab-link" data-for="">b</div>
          <div class="tab-link" data-for="">c</div>
          <div class="tab-link" data-for="">d</div>
          <div class="tab-link" data-for="">e</div>
        </div>
      </div>
    </div>
  
    <div class="tab-contents-wrapper">
      <div class="tab-content" data-tab-link="">
        <!-- Slider main container -->
        <div class="swiper custom-sepcific-bundles">
          <!-- Additional required wrapper -->
          
          <div>
            <!-- If we need navigation buttons -->
            <div class="custom-swiper-button-prev">Prev</div>
            <div class="custom-swiper-button-next">Next</div>
          </div>
          
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 4</div>    
            <div class="swiper-slide">Slide 5</div>    
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const swiper = new Swiper('.custom-sepcific-bundles', {
  // Optional parameters
  direction: 'horizontal',
  loop: false,
  slidesPerView: 1,
  spaceBetween: 10,
  // Responsive breakpoints
  breakpoints: {
    // when window width is >= 320px
    320: {
      slidesPerView: 2,
      spaceBetween: 20
    },
    // when window width is >= 480px
    480: {
      slidesPerView: 3,
      spaceBetween: 30
    },
    // when window width is >= 640px
    640: {
      slidesPerView: 4,
      spaceBetween: 40
    }
  },

  // Navigation arrows
  navigation: {
    nextEl: '.custom-swiper-button-next',
    prevEl: '.custom-swiper-button-prev',
  },

});
</script>


{% schema %}
  {
    "name": "Custom Specific Bundles",
    "settings": [],
    "presets": [
      {
        "name": "Custom Specific Bundles"
      }
    ]
  }
{% endschema %}