<div class="video-banner">
  <div class="video-and-text-block position-relative">
    <div class="video-wrapper">
      {{ section.settings.video | video_tag: autoplay: true, loop: true, muted: true }}      
    </div>
    <div class="text-content-wrapper">
      <div class="heading-and-button page-width">
        <div class="heading-and-button-wrapper-inner">
          <div class="heading-wrapper">
            {{ section.settings.heading }}
          </div>
          <div class="button-wrapper">
            <button class="button button-primary">
              {{ section.settings.button_label }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Video Banner",
    "settings": [
      {
        "type": "video",
        "label": "Video",
        "id": "video"
      },
      {
        "type": "text",
        "label": "Heading",
        "id": "heading"
      },
      {
        "type": "text",
        "label": "Button Label",
        "id": "button_label"
      }
    ],
    "presets": [
      {
        "name": "Custom Video Banner"
      }
    ]
  }
{% endschema %}