<div>
  <div class="video-and-text-block">
    <div class="video-wrapper">
      {{ section.settings.video | video_tag }}
    </div>
    <div class="text-content-wrapper">
      <div class="heading-and-button">
        <div class="heading-wrapper">
          {{ section.settings.heading }}
        </div>
        <div class="button-wrapper">
          <button class="button button-primary">
            {{ section.settings.button_label }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom Video Banner",
    "settings": [
      {
        "type": "video",
        "label": "Video",
        "id": "video"
      },
      {
        "type": "text",
        "label": "Heading",
        "id": "heading"
      },
      {
        "type": "text",
        "label": "Button Label",
        "id": "button_label"
      }
    ],
    "presets": [
      {
        "name": "Custom Video Banner"
      }
    ]
  }
{% endschema %}