/* Home Page */

/* Header */

.video-banner video{
    width: 100%;
    height: auto;
}

.template-index .header-wrapper{
  position:absolute;
  width: 100%;
  top: 20px;
  background:transparent;
}

.template-index .header-wrapper header{
  background:white;
  border-radius: 8px;
}

.video-banner .heading-wrapper{
  font-family: Rubik;
  text-align: left;
  text-underline-position: from-font;
  color:#FFFFFF;
  text-decoration-skip-ink: none;
}



@media (min-width: 1024px) {
 .text-content-wrapper{
   position:absolute;
   bottom:64px;
 }

  .video-banner .heading-wrapper{
    font-size: 70px;
    font-weight: 600;
    line-height: 82.95px;
  }
  
  .video-banner .button-wrapper{
    margin-top: 40px;
  }
  
}

/* common to all */

  .g-42{
      gap: 42px;
    }
  
  .g-80{
    gap: 80px;
  }

  .bottom-0{
    bottom: 0px;
  }

  .right-0{
    right:0px
  }
  
  .position-relative{
    position:relative;
  }

  .position-absolute{
    position:absolute;
  }
  
  .d-grid {
    display: grid;
    width: 100%
  }
  
  .col-sm-2{
    grid-template-columns: repeat(2, 1fr); /* 2 columns by default (mobile) */
  }

  .col-sm{
    grid-template-columns: repeat(1, 1fr); /* 2 columns by default (mobile) */
  }

  .g-3{
    gap: 3px;
  }

  .all-unset{
    all:unset!important;
  }
  
  @media (min-width: 1024px) {
    .col-md-4 {
      grid-template-columns: repeat(4, 1fr); /* 4 columns for medium screens and up */
    }
    .col-md-3{
      grid-template-columns: repeat(3, 1fr); /* 4 columns for medium screens and up */
    }
  }
