/* Home Page */

/* Header */

  .take-qui-btn{
    background:#1B1F23!important;
    color:white;
    padding: 10px;
    border-radius: 8px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.59px;
    text-align: center;
    width:140px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .gender-switch-button .gender-women-content{
    display:none;
  }

.gender-switch-button.gender-women-content-active .gender-women-content{
  display:flex;
}

.gender-switch-button.gender-women-content-active .gender-men-content{
  display:none;
}


.gender-content{
  display:flex;
  align-items:center;
  gap: 8px;
}

.gender-icon-wrapper{
    width: 33px;
    height: 33px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: white;
    border-radius: 50%;
}





.video-banner video{
    width: 100%;
    height: auto;
}

.header__menu-item span{
  font-family: Rubik;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.59px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.video-banner .heading-wrapper{
  font-family: Rubik;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.svg-wrapper>svg {
    height: unset; 
    width: unset; 
}

.text-content-wrapper{
  width:100%;
}

.gender-icon-wrappe{
  display:flex;
  width: 33px;
  height: 33px;
  background:white;
  border-radius: 50%;
  justify-content:center;
  align-items:center;
}

@media (min-width: 990px) {

  .desktop-gender-switcher-and-talk-btn{
    display:flex;
    align-items:stretch;
    gap: 5px;
    margin-right:10px;
    
  }

  .mobile-gender-switcher-and-talk-btn{
    display:flex;
    flex-direction:column!important;
    gap:8px;
  }
  
    .header__icons .header__search{
      display:none!important;
    }
  
  .button-secondary-custom{
    background: #E4E4E4!important;
    height: 45px;
    padding: 0 8px 0 16px;
    gap: 10px;
    border-radius: 8px
  }

  
.header__icons{
  align-items:center;
}
  
.custom-search-and-main-menu-wrapper{
  display:flex;
  align-items:center;
}

header{
    display: flex!important;
    justify-content: space-between!important;  
}
  
.template-index .header-wrapper{
  position:absolute;
  width: 100%;
  top: 20px;
  background:transparent;
}

  
  .video-banner .button-wrapper{
    margin-top: 40px;
  }
  
.template-index .header-wrapper header{
  background:white;
}


    .template-index .header-wrapper header{
      border-radius: 8px;
    }
      
    .video-banner .heading-wrapper{
      color:#FFFFFF;
    }

  
    .heading-and-button.page-width {
        padding-left: 0px;
        padding-right: 0px;
    }
    .heading-and-button-wrapper-inner{
      max-width: 840px;
    }
  
   .text-content-wrapper{
     position:absolute;
     bottom:64px;
   }

  .video-banner .heading-wrapper{
    font-size: 70px;
    line-height: 82.95px;
  }
  .video-banner .button-wrapper button{
    background:white;
    width: 160px;
    height: 50px;    
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.96px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#1B1F23;
    border:none;
    outline:none;
    box-shadow:none;
    border-radius: 8px;
    padding: 10px;

    --border-offset: unset;
    --border-opacity:unset;
  }
  
}

/* common to all */

  .g-42{
      gap: 42px;
    }
  
  .g-80{
    gap: 80px;
  }

  .bottom-0{
    bottom: 0px;
  }

  .right-0{
    right:0px
  }
  
  .position-relative{
    position:relative;
  }

  .position-absolute{
    position:absolute;
  }
  
  .d-grid {
    display: grid;
    width: 100%
  }
  .d-none{
    display:none;
  }
  .col-sm-2{
    grid-template-columns: repeat(2, 1fr); /* 2 columns by default (mobile) */
  }

  .col-sm{
    grid-template-columns: repeat(1, 1fr); /* 2 columns by default (mobile) */
  }

  .g-3{
    gap: 3px;
  }

  .all-unset{
    all:unset!important;
  }


  @media (min-width: 1024px) {
    .col-md-4 {
      grid-template-columns: repeat(4, 1fr); /* 4 columns for medium screens and up */
    }
    .col-md-3{
      grid-template-columns: repeat(3, 1fr); /* 4 columns for medium screens and up */
    }

    .d-md-block{
      display:block;
    }

    .d-md-flex{
      display:flex
    }
  }
  
  .custom-button {
    border:none;
    background:none;
    cursor:pointer;
  }